@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/fonts/glyphicons-halflings-regular.eot");
  src: url("/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

.face-glyphicon {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background-color: #f8f8f8;
}

.article-max-height {
  max-height: 6.4rem;
}

header {
  height: 1.16666667rem;
  line-height: 1.16666667rem;
  text-align: center;
  color: #fff;
  font-size: 0.44rem;
}

header .fixed-header,
header .block-header {
  background: #2e3238;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}

header .fixed-header .nav-icon,
header .block-header .nav-icon {
  position: absolute;
  display: block;
  width: 1.66666667rem;
  height: 1.16666667rem;
  line-height: 1.16666667rem;
}

header .fixed-header .nav-icon::before,
header .block-header .nav-icon::before {
  content: "\E055";
  position: absolute;
  display: inline-block;
  left: 0.45rem;
}

header .block-header {
  display: block;
  height: 100%;
  position: static;
}

.fade {
  display: none;
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.nav.in {
  display: block;
  filter: alpha(opacity=90);
  opacity: .9;
}

.modal-backdrop.in {
  display: block;
  filter: alpha(opacity=50);
  opacity: .5;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #2e3238;
}

section.nav {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1999;
  background: #fff;
  width: 4rem;
  height: 17.78666667rem;
}

section.nav .nav-body {
  width: 3.68rem;
}

section.nav .nav-body .info-desc {
  height: 3.55733333rem;
}

section.nav .nav-body nav {
  padding: 0.01333333rem;
}

section.nav .nav-body nav ul li {
  padding: 0 0.26666667rem;
  height: 1.77866667rem;
  line-height: 1.77866667rem;
  text-align: center;
  font-size: 0.44rem;
}

section.nav .nav-body nav ul li a.active {
  display: block;
  color: green;
}

section.nav .nav-body nav ul li a.active::after {
  border-bottom: 0.06666667rem solid green;
}

section.nav .nav-go-back {
  position: absolute;
  right: 0;
  top: 0;
  width: 0.32rem;
  background: #fff;
  height: 17.78666667rem;
  line-height: 17.78666667rem;
  text-align: center;
}

section.nav .nav-go-back span:before {
  content: "\E257";
  color: #2e3238;
}

.border-reset {
  position: relative;
  display: block;
}

.border-reset::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #e5e5e5;
  color: #e5e5e5;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2;
}

article.main {
  color: #999999;
}

article.main ul li {
  font-size: 0.34666667rem;
  margin-top: 0.26666667rem;
  background: #fff;
  padding: 0.4rem;
  text-indent: 0.64rem;
}

article.main ul li .item-article .title {
  color: #333;
  font-size: 0.39866667rem;
  padding-bottom: 10px;
  text-indent: 0px;
}

article.main ul li .item-article .video-dialog {
  padding-top: 0.13333333rem;
  position: relative;
  min-height: 5.33333333rem;
  text-align: center;
  text-indent: initial;
}

article.main ul li .item-article .video-dialog .xiezhen-img {
  width: 100%;
  display: block;
}

article.main ul li .item-article .video-dialog .video-thumbnail {
  width: 9.2rem;
  margin: 0 auto;
}

article.main ul li .item-article .video-dialog .video-thumbnail img {
  width: 100%;
  display: block;
}

article.main ul li .item-article .video-dialog .video-thumbnail .video-play {
  background: url("http://static.tianshengwocha.com/img/purse.png") no-repeat center center;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
}

article.main ul li .item-article .video-dialog video {
  width: 100%;
  height: 100%;
}

article.main ul li .item-article .article-content {
  overflow: hidden;
}

article.main ul li .item-article .article-content img {
  display: block;
  margin: 0 auto;
}

article.main ul li .item-article .weui-cell {
  padding: 0.26666667rem 0 0 0;
}

article.main ul li .item-article .weui-cell_link {
  font-size: 0.37333333rem;
}

article.main ul li .item-article .weui-cell_access .weui-cell__ft {
  padding-right: 0.34666667rem;
}

article.main ul li .item-article .weui-cell_access .weui-cell__ft:after {
  content: " ";
  display: inline-block;
  height: 0.16rem;
  width: 0.16rem;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
          transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  position: relative;
  top: 0px;
  position: absolute;
  top: 50%;
  margin-top: -0.10666667rem;
  right: 2px;
}

article.main ul li .item-article .weui-cell_access .weui-cell__top {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

article.main .weui-loadmore {
  width: 65%;
  margin: 0.56rem auto;
  line-height: 0.56rem;
  font-size: 0.37333333rem;
  text-align: center;
}

article.main .weui-loadmore_line {
  margin-top: 0.896rem;
}

.image-dialog {
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 10rem;
  height: 17.78666667rem;
  overflow: hidden;
  z-index: 9999;
}

.image-dialog .image-list img {
  width: 10rem;
}

.image-dialog .close {
  position: fixed;
  bottom: 0.26666667rem;
  color: #fff;
  left: 4.46666667rem;
}

.image-dialog .close:active {
  -webkit-transition: All 0.1s ease-in-out;
  transition: All 0.1s ease-in-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.image-dialog .close span::before {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E088";
  font-size: 1.33333333rem;
  opacity: 0.6;
}

@media screen and (min-width: 1125px) {
  body > div {
    max-width: 1125px;
    margin: 0 auto;
    overflow: hidden;
  }

  body header .fixed-header,
  body header .block-header {
    top: 0;
    left: auto;
    width: 1125px;
  }
}

